/*Common share styles*/
body {
    font-family: 'Open Sans', sans-serif;
}
/*Nav related styles*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.text-primary {  
    color:#FD6E0A;
}
nav > ul {
    display: flex;
    align-items: center;

}
nav li {
 list-style-type: none;
 margin-right: 30px;
}
nav a {
    text-decoration: none;
    color:#474747
    
}
.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;

color:#FFF;
font-size: 20px;
font-weight: 700;
padding:18px 35px;
}
/* header releted style*/
.header {
    background: #FFF8F3;
    background-image: url("../images/header_bg.png") , url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}
.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile-pic {
    width: 500px;
}
.banner-greeting {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 0px;

}
.banner-title {
    font-size: 85px;
    font-weight: 700;
    color: #474747;
    margin-top:5px;
    margin-bottom: 0px;
}
.banner-description {
    margin-top:20px;
    margin-bottom: 30px;
}
.banner-content {
    width: 585px;
}
.section-title {
    color:#181818;
text-align: center;
font-size: 35px;
font-weight: 700;
}
.section-description {
color: #757575;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}

/*main section style*/
.about {
    padding: 200px 150px;
    border-radius: 10px;
background: #FFF8F3;
margin: 130px 0px;
}
main {
    max-width:1140px;
    margin: 0 auto;
}
.about-info-container {
    display: flex;
justify-content: space-around;
}
.about-info {
    text-align:center;
}
/*what i do section start*/
#what-i-do-description {
    padding: 30px 150px;
}
.skills-container {
    display: flex;
    gap: 24px;
}
.skills {
    padding:30px;
  
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
main section {
    margin-top:130px;
}

/*resume section style*/
.resume-column-title {
    color:  #474747;
font-size: 25px;
font-weight: 700;

}
.resume-container {
    display: flex;
}
.column1 {
    margin-right: 10px;
}
.resume-item-title {
    margin-bottom: 10px;
}
.resume-item-institute {
    margin-top: 0px;
    margin-bottom: 20px;
}
.download-cv {
    text-align: center;
    margin-top: 50px;
}

/*footer section style*/
footer {
    display: flex;
    background-color: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
}

footer-column {
    width:50%;
   
}
.contact input[type="text"], input[type="email"], textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}
.social-link a {
    margin-right: 25px;
}
